.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .card{
            margin: 0 1rem;
            transition: all 0.10s ease-in-out;
            a{
                text-decoration: none;
            }
            &:hover {
                transform:scale(1.03);
            }
        }
    }
}






