<div class="container">
  <!-- <img [src]="book.bookThumbnailURL" [alt]="book.bookTitle"> -->
  <div class="pdf-thumb-container">
    <pdf-viewer [src]="book.pdfURL" [rotation]="0" [original-size]="false" [zoom-scale]="'page-fit'" [zoom]="1" [stick-to-page]="true" [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false" [page]="1" [show-all]="false"></pdf-viewer>
  </div>
  <h3>{{book.bookTitle}}</h3>
  <p>by <span>{{book.bookAuthor}}</span></p>
  <p>rating: {{book.bookRating}}/5</p>
</div>